services:

  db:
    image: postgres:17
    environment:
      POSTGRES_DB: cineconnect
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data


networks:
  Backend-DB:
    driver: bridge



volumes:
  pgdata: